prompt 0
default vesamenu.c32
timeout 100

F1 readme.txt
F2 syslinux.cfg
#背景图片
MENU BACKGROUND background.jpg
#字体
#FONT myfont_out.psf
#标题
MENU TITLE  Personal U Disk Toos

#距离四周的行数
#MENU MARGIN 2  
#倒计时属于第几行
MENU TIMEOUTROW 1
#菜单行数	
MENU ROWS 18
#倒计时属于第几行按tab编辑命令所在的行
MENU CMDLINEROW 24
#Tab信息提示的行
MENU TABMSGROW 21

menu color border	30;44 #ffffffff #00000000 none
menu color msg07 37;40 #00ff00 #00000000 none

menu color screen 37;40      #ffffffff #00000000 none
menu color border 30;44      #00000000 #00000000 none
menu color title 1;36;44    #f01291a9 #00000000 none
#menu color unsel 37;44      #e01291a9 #00000000 none
#menu color hotkey 1;37;44    #e060CA00 #00000000 none
menu color sel   7;37;40    #00000000 #c0ffffff all
#menu color hotsel 1;7;37;40 #e0400000 #20ff8000 all
#menu color disabled 1;30;44    #60cccccc #00000000 none
#menu color scrollbar 30;44      #40000000 #00000000 std
#menu color tabmsg 31;40      #9060CA00 #00000000 none
#menu color cmdmark 1;36;40    #c000ffff #00000000 std
#menu color cmdline 37;40      #c0ffffff #00000000 none
#menu color pwdborder 30;47      #80ffffff #20ffffff std
#menu color pwdheader 31;47      #80ff8080 #20ffffff std
#menu color pwdentry 30;47      #c0ffffff #20ffffff std
#menu color timeout_msg 37;40      #e060CA00 #00000000 none
#menu color timeout 1;37;40    #f060CA00 #00000000 none
#menu color help   37;40      #c0ffffff #00000000 none
#menu color msg07 37;40      #90ffffff #00000000 none